html, body {
  height: auto;
  min-height: 100%;
  font-size: 28px;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding:0;
  margin:0;
  color: #000;
  text-align: center;
  background: #fbb969 no-repeat fixed center;
  background-size: cover;
  min-height: 100%;
}

.main {
}

.measure {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.main h1, h2 {
  padding: 15px;
}

a:link, a:visited {
  background-color: rgba(255, 255, 255, 0.60);
  color: #000;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px auto 10px auto;
  min-width: 100vw;
}

a:hover, a:active {
  background-color: rgba(255, 255, 255, 1.0);
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

button:hover,
button:active,
button:focus {
  filter: brightness(120%);
}

.policy-img {
  max-width: 180px;
  width: 40vw;
  height: auto;
  border-radius: 12px;
}

.policy-detail-container {
  margin: 0.75em;
  padding: 0.75em;
  min-height: 40vh;
  background-color: rgba(255, 255, 255, 0.36);
  display: flex;
  justify-content: center;
  align-content: center;
}

.policy-detail {
}