html, body {
  height: auto;
  min-height: 100%;
  font-size: 24px;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding:0;
  margin:0;
  color: #000;
  text-align: center;
  background: #fbb969 no-repeat fixed center;
  background-size: cover;
  min-height: 100%;
}

.measure {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.title {
  margin: 0px auto 0px auto;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1em;
  width: 100vw;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.60);
  overflow: hidden;
}

.main h2 {
  padding: 15px;
}

h3 {
  font-size: 0.9em;
}

a:link, 
a:visited {
  background-color: rgba(255, 255, 255, 0.60);
  color: #000;
  padding: 8px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 6px auto 6px auto;
  min-width: 300px;
}

a:hover, a:active {
  background-color: rgba(255, 255, 255, 1.0);
}

button,
button:active {
  min-height: 220px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

button:hover,
button:focus {
  filter: brightness(120%);
}

.policy-img {
  cursor: pointer;
  max-width: 180px;
  width: 32vw;
  height: auto;
  border-radius: 12px;
}

.policy-detail-container {
  margin: 0.7em auto 0.7em auto;
  padding: 0.5em;
  min-height: 18vh;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.36);
}

.policy-detail {
  max-width: 300px;
}

#links {
  margin-top: 12px;
}

